.col-lg-3{
    background-color: #f0fcfc;
}
.col-lg-3:hover{
    background-color: #06bbcc;
}
.col-lg-3:hover{
    color: white;
}
.col-lg-3 i{
    color: #06bbcc;
}
.col-lg-3:hover i{
    color: white;
}
.container-xxl{
    padding-top: 100px;
}